---
import { APP_BLOG } from 'astrowind:config';

import { getRelatedPosts } from '~/utils/blog';
import Grid from '~/components/blog/Grid.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Button from '~/components/ui/Button.astro';
import type { Post } from '~/types';
import { getBlogPermalink } from '~/utils/permalinks';

export interface Props {
  post: Post;
}

const { post } = Astro.props;

const relatedPosts = post.tags ? await getRelatedPosts(post, 4) : [];
---

{
  APP_BLOG.isRelatedPostsEnabled && relatedPosts.length ? (
    <WidgetWrapper containerClass="pt-0 md:pt-0 lg:pt-0">
      <div class="flex flex-col lg:justify-between lg:flex-row mb-8">
        <div class="md:max-w-sm">
          <h2 class="text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none group font-heading mb-2">
            Related notes
          </h2>
          <Button variant="link" href={getBlogPermalink()}>
            View all notes »
          </Button>
        </div>
      </div>
      <Grid posts={relatedPosts} />
    </WidgetWrapper>
  ) : null
}
